# Web Framework
flask
flask-cors

# LangChain and LLM
langchain
langchain-community
langchain-ollama
langchain-groq

# Vector Store
# chromadb

# Web Scraping
beautifulsoup4
# playwright  # Required for AsyncChromiumLoader

# Utilities
requests
uuid
typing

# Embeddings
# langchain-nomic # For OllamaEmbeddings